.teacher {
    margin-top: 20rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

h1 {
    color: #fff;
}

.teacherrow {
    width: 80%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.teacherbox {
    margin: 2rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.teacherbox img {
    padding: 10px;
    background-color: #fff;
    border: 2px dashed rgb(244, 35, 164);
    width: 50%;
    border-radius: 50%;
    position: absolute;
    top: -10rem;
}

.teacherbox h3 {
    font-size: 2rem;
    margin-top: 3rem;
}

.teacherbox span {
    font-size: 1rem;
    margin-top: 10px;
    width: 60%;
    text-align: center;
}

.cloudimage {
    background-image: url("../../assets/teacher/teacher.png");
    width: 100%;
    height: 20rem;
    position: absolute;
    top: -17rem;
    left: 0;
    background-position: top;
    background-size: cover;
    z-index: -100;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media screen and (max-width:768px) {
    .teacher {
        margin-top: 10rem;
    }

    .cloudimage {
        background-size: contain;
        background-position: center;
        height: 10rem;
        margin: 0;
        top: -10rem;
    }

    .teacherrow {
        margin: 0;
        height: 100%;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .teacherbox {
        padding: 10px;
        margin: 10px 0;
        width: 80%;
        background-color: #fff;
        /* border: 1px solid black; */
        border-radius: 20px;
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);

    }

    .teacherbox img {
        top: 0;
        position: relative;
        width: 60%;
    }

    .teacherbox span {
        margin-top: 5px;
    }

    .teacherbox h3 {
        margin-top: 1rem;
    }
}